*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.wallpaper{
    width:100vw;
    height:95vh;
    overflow: hidden; 
    position: absolute; 
    
    background-image:linear-gradient(to bottom right,rgb(255, 255, 255),aqua);
}